<!DOCTYPE html>
<html>
  <head>
    {{ template "head-meta" . }}
  </head>
  <body {{ template "init-theme" . }}>

    <div class="layout">
      <aside>
        <header>
          <h1><img src="images/logo-dark.svg" alt="knot Logo" /></h1>
        </header>
        <div class="menu">
          {{ template "main-menu" . }}
        </div>
        <div class="menu2">
          {{ template "main-menu2" . }}
        </div>
      </aside>
      <div class="content-container">
        <header>
          <form>
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode; $dispatch('theme-change', {dark_theme: darkMode})" name="theme" class="light-dark">
          </form>

          <div><a href="/users/edit/{{ .user_id }}" class="button outline">{{ .username }}</a></div>
        </header>

{{ block "mainContent" . }}{{ end }}

      </div>
    </div>

{{ template "alerts" . }}

  </body>
</html>
