<!DOCTYPE html>
<html>
  <head>
    {{ template "head-meta" . }}
  </head>
  <body {{ template "init-theme" . }}>

    <div class="box-wrapper">

      <div class="box center-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div style="text-align: center; padding: 2rem 0">
              <img src="images/logo-light.svg" alt="knot Logo" class="logo" x-show="!darkMode" />
              <img src="images/logo-dark.svg" alt="knot Logo" class="logo" x-show="darkMode" />
            </div>
          </div>
          <div class="col-sm-6">

            {{ block "mainContent" . }}{{ end }}

          </div>
        </div>
      </div>
    </div>

{{ template "alerts" . }}

  </body>
</html>
