<!DOCTYPE html>
<html>
  <head>
    {{ template "head-meta" . }}
  </head>
  <body {{ template "init-theme" . }}>

    <div class="layout">
      <aside>
        <header>
          <h1><img src="images/logo-dark.svg" alt="knot Logo" /></h1>
        </header>
        <div class="menu">
          {{ template "main-menu" . }}
        </div>
        <div class="menu2">
          {{ template "main-menu2" . }}
        </div>
      </aside>
      <div class="content-container">
        <header>
          <form>
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode; $dispatch('theme-change', {dark_theme: darkMode})" name="theme" class="light-dark">
          </form>

          <div x-data="{ showMenu: false }" class="user-menu">
            <button class="outline" @click="showMenu = true">{{ .username }}</button>
            <div x-show="showMenu" @click.away="showMenu = false" @keydown.window.escape="showMenu = false" class="menu-popup">
              <a href="/users/edit/{{ .user_id }}" class="button outline"><i class='bx bx-user-circle'></i> Profile</a>
              <a href="/sessions" class="button outline"><i class="bx bx-cookie"></i> Sessions</a>
              <a href="/logout" class="button outline"><i class="bx bx-log-out-circle"></i> Logout</a>
            </div>
          </div>

        </header>

{{ block "mainContent" . }}{{ end }}

      </div>
    </div>

{{ template "alerts" . }}

  </body>
</html>
