.DS_Store
/bin/*
!/bin/.gitignore
/web/agents/*
!/web/agents/.gitignore
/node_modules
.knot.yml
.knot-leaf1.yml
.knot-leaf2.yml
/.parcel-cache
/.task
/knot-server.nomad
/web/public_html/api-docs/*
!/web/public_html/api-docs/.gitignore
!/web/public_html/api-docs/redoc.standalone.js
!/web/public_html/api-docs/agent/
/web/public_html/api-docs/agent/index.html
/legal/license.txt
/legal/notice.txt
/NOTES.md
/badgerdb
/web/public_html/app.js
/web/public_html/app.js.map
/web/public_html/terminal.js
/web/public_html/terminal.js.map
/web/public_html/assets/*
