{{ define "confirm-dialog" }}
<!-- Shared confirmation dialog: opened with window.knotConfirm({...}) (web/src/js/confirm.js). -->
<div id="knot-confirm-dialog" x-data x-cloak x-show="$store.confirmDialog.show" x-transition.opacity.duration.200ms x-trap.inert.noscroll.noautofocus.noreturn="$store.confirmDialog.show" class="ui-modal-backdrop" style="z-index: 99" role="alertdialog" aria-modal="true" aria-labelledby="knotConfirmTitle" aria-describedby="knotConfirmMessage">
  <div x-show="$store.confirmDialog.show" x-transition:enter="transition ease-out duration-200 motion-reduce:transition-opacity" x-transition:enter-start="scale-95 opacity-0" x-transition:enter-end="scale-100 opacity-100" class="ui-modal-panel">
    <div class="ui-modal-header">
      <div :class="$store.confirmDialog.iconClass">
        <svg x-show="$store.confirmDialog.icon === 'trash'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
        <svg x-show="$store.confirmDialog.icon === 'stop'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
        </svg>
        <svg x-show="$store.confirmDialog.icon === 'warning'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <svg x-show="$store.confirmDialog.icon === 'info'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>
      </div>
      <h3 id="knotConfirmTitle" class="ui-modal-title" x-text="$store.confirmDialog.title"></h3>
      <button type="button" @click="$store.confirmDialog.cancel()" aria-label="Close" class="ui-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
      </button>
    </div>
    <div class="ui-modal-body text-center">
      <div id="knotConfirmMessage">
        <p><template x-for="(part, i) in $store.confirmDialog.parts" :key="i"><span><template x-if="part.bold"><strong class="font-semibold text-gray-900 dark:text-white" x-text="part.text"></strong></template><template x-if="!part.bold"><span x-text="part.text"></span></template></span></template></p>
        <template x-for="(d, i) in $store.confirmDialog.details" :key="'d' + i">
          <p class="mt-2" x-text="d"></p>
        </template>
      </div>
      <template x-if="$store.confirmDialog.hasCheckbox">
        <label class="mt-4 inline-flex items-center gap-2 text-left cursor-pointer">
          <input type="checkbox" x-model="$store.confirmDialog.checked" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <span x-text="$store.confirmDialog.checkboxLabel"></span>
        </label>
      </template>
    </div>
    <div class="ui-modal-footer">
      <button type="button" data-confirm-cancel @click="$store.confirmDialog.cancel()" class="ui-button-secondary" x-text="$store.confirmDialog.cancelLabel"></button>
      <button type="button" data-confirm-ok @click="$store.confirmDialog.confirm()" :class="$store.confirmDialog.danger ? 'ui-button-danger' : 'ui-button-primary'">
        <svg x-show="$store.confirmDialog.danger && $store.confirmDialog.icon === 'trash'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
        <span x-text="$store.confirmDialog.confirmLabel"></span>
      </button>
    </div>
  </div>
</div>
{{ end }}
