{{ define "discard-confirm" }}
<div x-cloak x-show="$store.discardDialog.show" x-transition.opacity.duration.200ms x-trap.inert.noscroll="$store.discardDialog.show" class="ui-modal-backdrop" role="dialog" aria-modal="true" aria-labelledby="discardTitle">
  <div x-show="$store.discardDialog.show" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="scale-95 opacity-0" x-transition:enter-end="scale-100 opacity-100" class="ui-modal-panel">
    <div class="ui-modal-header">
      <div class="ui-modal-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
      </div>
      <h3 id="discardTitle" class="ui-modal-title">Unsaved Changes</h3>
      <button @click="$store.discardDialog.cancel()" aria-label="close" class="ui-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
      </button>
    </div>
    <div class="ui-modal-body">
      <p>You have unsaved changes. Are you sure you want to discard them?</p>
    </div>
    <div class="ui-modal-footer">
      <button @click="$store.discardDialog.cancel()" type="button" class="ui-button-secondary sm:mr-auto">Keep Editing</button>
      <button @click="$store.discardDialog.confirm()" type="button" class="ui-button-danger">Discard Changes</button>
    </div>
  </div>
</div>
{{ end }}
