{{ define "filterChip" }}
<button type="button" x-show="{{ .show }}" x-cloak @click="{{ .click }}" class="app-filter-chip" aria-label="Remove {{ .label }} filter">{{ .label }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" class="size-3" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/></svg></button>
{{ end }}
