{{ define "head-meta" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/" />
<title>{{ block "pageTitle" . }}knot admin{{ end }}</title>

<script src="app.js" defer></script>
<link rel="stylesheet" type="text/css" href="app.css" />
{{ end }}
