{{ define "head-meta" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/" />
<title>{{ block "pageTitle" . }}knot admin{{ end }}</title>
<script>if(localStorage.getItem('_x_darkMode') !== 'false') { document.documentElement.classList.add('dark') }</script>
<script src="assets/js/knot.js?_v={{ .version }}" defer></script>
<link rel="stylesheet" type="text/css" href="assets/css/knot.css?_v={{ .version }}" />
<style>
[x-cloak] { display: none !important; }
</style>
{{ end }}
