{{ define "head-meta" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, interactive-widget=resizes-content">
<base href="/" />
<title>{{ block "pageTitle" . }}knot admin{{ end }}</title>
<script>if(localStorage.getItem('_x_darkMode') !== 'false') { document.documentElement.classList.add('dark') }</script>
<script src="assets/js/knot.js?_v={{ .version }}" defer></script>
<link rel="stylesheet" type="text/css" href="assets/css/knot.css?_v={{ .version }}" />
<style>
[x-cloak] { display: none !important; }
</style>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{{ end }}
