@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(/fonts/nunito.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/jetbrainsmono.woff2) format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	-webkit-tap-highlight-color: rgba(0,0,0,0); // Stop bleed on android
}

.standardFont {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  .fontSizeClamp(.9, 1.1);
  .lineHeightClamp(1.25, 1.5);
}

.standardFontBold {
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}

body {
  color: @darkFontColor;
  background-color: @darkBodyColor;
  .standardFont;

  a {
    color: @darkFontColor;
  }
}

body.light {
  color: @lightFontColor;
  background-color: @lightBodyColor;

  a {
    color: @lightFontColor;
  }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  .sizeClamp(margin-top, .5, .75);
  .sizeClamp(margin-bottom, 1, 1.25);
}

h1 {
  .fontSizeClamp(2.5, 2.75);
}
h2 {
  .fontSizeClamp(1.5, 2);

  span {
    .fontSizeClamp(.95, 1);
  }
}
h3 {
  .fontSizeClamp(1.125, 1.5);
}

p {
	margin-top: 0;
  .sizeClamp(margin-bottom, 1, 1.25);
}

pre {
	white-space: pre-wrap;

  &.code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
		color: @darkTableHeaderColorText;
    background-color: @darkTableHeaderBackground;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
    margin-bottom: 1.5rem;
  }
}

body.light {
  pre {
    &.code {
      color: @lightTableHeaderColorText;
      background-color: @lightTableHeaderBackground;
    }
  }
}

strong {
  .standardFontBold();
}

// Alignment
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}

ul, ol {
	margin: 0;
  .sizeClamp(margin-left, 2, 2.5);
  .sizeClamp(margin-bottom, 1, 1.25);
}
dt { font-weight: bold; }
dd { .sizeClamp(margin-bottom, 1, 1.25); }
