{{ define "head-meta" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/" />
<title>{{ .PageTitle }}</title>

<script src="app.js" defer></script>
<link rel="stylesheet" type="text/css" href="app.css" />
{{ end }}

{{ define "init-theme" }}
x-data="{ 'darkMode': true }"
x-init="darkMode = JSON.parse(localStorage.getItem('darkMode'));
        if(darkMode == null) darkMode = true;
        $watch('darkMode', val => localStorage.setItem('darkMode', val))"
:class="darkMode ? 'dark' : 'light'"
{{ end }}

{{ define "alerts" }}
<div x-data="{ showAlert: false, exposedType: '', type: '', alertMessage: '', timeoutId: null }">
  <div id="toast" :class="showAlert ? exposedType : type" x-text="alertMessage" @show-alert.window="clearTimeout(timeoutId); showAlert = true; type = $event.detail.type; exposedType = 'exposed ' + type; alertMessage = $event.detail.msg; timeoutId = setTimeout(() => showAlert = false, 8000)">
  </div>
</div>
{{ end }}

{{ define "main-menu" }}
<nav>
  <ul>
    <li><a href="/spaces"><i class="bx bx-cloud"></i> Spaces</a></li>
    {{ if .permissionManageTemplates }}
    <li><a href="/templates"><i class="bx bx-code-block"></i> Templates</a></li>
    {{ end }}
    {{ if .permissionManageUsers }}
    <li><a href="/users"><i class="bx bx-user"></i> Users</a></li>
    {{ end }}
    <li><a href="/api-tokens"><i class="bx bx-key"></i> API Tokens</a></li>
    <li><a href="/sessions"><i class="bx bx-cookie"></i> Sessions</a></li>
    <li><a href="/logout"><i class="bx bx-log-out-circle"></i> Logout</a></li>
  </ul>
</nav>
{{ end }}

{{ define "main-menu2" }}
<nav>
  <ul>
    <li><a href="/api-docs/"><i class="bx bx-code-alt"></i> API Docs</a></li>
    <li><a href="https://github.com/paularlott/knot/issues"><i class="bx bx-bug"></i> Report a Bug</a></li>
    <li><a href="https://github.com/paularlott/knot/"><i class="bx bxl-github"></i> Github</a></li>
  </ul>
</nav>
{{ end }}

{{ define "loading" }}
<div x-show="loading" class="loading"><i class='bx bx-loader-alt bx-spin bx-rotate-270' ></i> Loading &hellip;</div>
{{ end }}
