{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Group{{ else }}Create Group{{ end }}{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box" x-data="userGroupForm({{ .isEdit }}, '{{ .groupId }}')" x-init="initData()">
        <h2>{{ if .isEdit }}Edit Group{{ else }}Create Group{{ end }}</h2>

        {{ template "loading" . }}
        <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
          <dl>
            <dt><label for="name">Name <em>*</em></label></dt>
            <dd>
              <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Group name" x-model="formData.name">
              <div x-show="!nameValid" class="error-message">Group name can be a max 64 characters.</div>
            </dd>
            <dt></dt>
            <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
          </dl>
        </form>

      </div>
    </div>
  </div>
</div>

{{ end }}
