<!DOCTYPE html>
<html lang="en" style="height: 100%; overflow: hidden; position: fixed; width: 100%;">
<head>
	<title>Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, interactive-widget=resizes-content">
  <script>if(localStorage.getItem('_x_darkMode') !== 'false') { document.documentElement.classList.add('dark') }</script>
	<link rel="stylesheet" href="/assets/css/knot.css?_v={{ .version }}" />
</head>
<body id="terminal-window">
  <div class="h-full flex flex-col">
  	<div id="terminal" class="flex-1 overflow-hidden"></div>
  </div>
	<script src="/assets/js/knot.js?_v={{ .version }}" ></script>
  <script>
    initializeTerminal({
      shell: "{{ .shell }}",
      renderer: "{{ .renderer }}",
      spaceId: "{{ .spaceId }}",
      logView: true,
    });
  </script>
</body>
</html>