{{ template "layout-center.tmpl" . }}

{{ define "pageTitle" }}Login{{ end }}

{{ define "mainContent" }}
<div x-data="loginUserForm('{{ .redirect }}')">
  <form action="" method="POST" @submit.prevent="submitData">
    <dl>
      <dt><label for="email">Email <em>*</em></label></dt>
      <dd>
        <input type="text" name="email" x-on:keyup.debounce.500ms="checkEmail()" :class="{'error': !emailValid}" placeholder="Email address" x-model="formData.email">
        <div x-show="!emailValid" class="error-message">Enter a valid email address.</div>
      </dd>
      <dt><label for="password">Password <em>*</em></label></dt>
      <dd>
        <input type="password" name="password" x-on:keyup.debounce.500ms="checkPassword()" :class="{'error': !passwordValid}" placeholder="Password" x-model="formData.password">
        <div x-show="!passwordValid" class="error-message">Enter your password.</div>
      </dd>
      <dt></dt>
      <dd><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading" class="full-width"></dd>
    </dl>
  </form>
</div>

{{ end }}
