<!DOCTYPE html>
<html>
  <head>
    {{ template "head-meta" (map "PageTitle" "Spaces") }}
  </head>
  <body
    x-data="{ 'darkMode': true }"
    x-init="darkMode = JSON.parse(localStorage.getItem('darkMode'));
            if(darkMode == null) darkMode = true;
            $watch('darkMode', val => localStorage.setItem('darkMode', val))"
    :class="darkMode ? 'dark' : 'light'"
  >

    <div class="layout">
      <aside>
        <header>
          <h1><img src="images/knot-logo.webp" alt="knot Logo" /> knot</h1>
        </header>
        <div class="menu">
          {{ template "main-menu" . }}
        </div>
      </aside>
      <div class="content-container">
        <header>
          <form>
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode" name="theme" class="light-dark">
          </form>

          <div>{{ .username }}</div>
        </header>
        <div class="content">

          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <h2>Spaces</h2>

                <div class="text-right">
                  <a href="/spaces/create" class="button"><i class="bx bx-plus"></i> Create Space</a>
                </div>

<div x-data="spacesListComponent()" x-init="getSpaces">
  <div class="responsiveTableWrapper">
    <div class="responsiveTableWrapperInner">
      {{ template "loading" . }}
      <table class="action" x-show="!loading" x-cloak>
        <thead>
        <tr>
          <th>Space ID</th>
          <th>Name</th>
          <th>Template</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="s in spaces" :key="s.space_id">
          <tr>
            <td x-text="s.space_id" class="no-wrap"></td>
            <td x-text="s.name"></td>
            <td x-text="s.template_name"></td>
            <td>
              <a :href="`/proxy/spaces/${s.name}/code-server/`" :target="`spaces_${s.space_id}`" x-show="s.has_code_server"><img src="icons/vscode.svg" alt="VSCode" style="max-height: 40px;" /></a>
              <img src="icons/terminal.svg" alt="Terminal" style="max-height: 40px;" x-show="s.has_ssh" />
              <button @click="editSpace(s.space_id)">Edit</button> <button @click="deleteSpace(s.space_id)" class="danger">Delete</button>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
function spacesListComponent() {
  return {
    loading: true,
    spaces: [],
    async getSpaces() {
      this.loading = true;
      const response = await fetch('/api/v1/spaces', {
        headers: {
          'Content-Type': 'application/json'
        }
      });
      this.spaces = await response.json();
      this.loading = false;
      this.spaces.forEach(space => this.getServiceState(space));
    },
    async getServiceState(space) {
      setInterval(async () => {
        await fetch(`/api/v1/spaces/${space.space_id}/service-state`, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((response) => {
          if (response.status === 200) {
            response.json().then((serviceState) => {
              space.has_code_server = serviceState.has_code_server;
              space.has_ssh = serviceState.has_ssh;
            });
          } else {
            space.has_code_server = space.has_ssh = false;
          }
        });
      }, 5000);
    },
    async deleteSpace(spaceId) {
      /*await fetch(`/api/v1/tokens/${tokenId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
           window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Token deleted", type: 'success' } }));
        } else {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Token could not be deleted", type: 'error' } }));
        }
      });
      this.getTokens();*/
    },
  };
}
</script>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{{ template "alerts" . }}

  </body>
</html>
