<!DOCTYPE html>
<html>
  <head>
    {{ template "head-meta" (map "PageTitle" "No Access") }}
  </head>
  <body {{ template "init-theme" . }}>

    <div class="layout">
      <aside>
        <header>
          <h1><img src="images/knot-logo.webp" alt="knot Logo" /> knot</h1>
        </header>
      </aside>
      <div class="content-container">
        <header>
          <form>
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode; $dispatch('theme-change', {dark_theme: darkMode})" name="theme" class="light-dark">
          </form>

          <div>{{ .username }}</div>
        </header>

<div class="content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box">
        <h2>No Access</h2>
        <p>You do not have permission to access this page.</p>
        <p><a href="/space">Return to Spaces</a></p>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>

{{ template "alerts" . }}

  </body>
</html>
