{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}My Profile{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8">
  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-4 gap-2 xl:gap-4">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">My Profile</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800" x-data="{ userFormModal: { isEdit: true, userId: '{{ .user.id }}', show: true } }">
      {{ template "user-form-content" . }}
    </div>

  </div>
</main>
{{ end }}
