{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Volumes{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <h2>Volumes</h2>

<div x-data="volumeListComponent()" x-init="getVolumes">

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-sm-order-2 text-right">
      <a href="/volumes/create" class="button"><i class="bx bx-plus"></i> Create Volume</a>
    </div>
    <div class="col-sm-4 col-sm-order-1">
      <input type="search" id="search" name="search" x-model="searchTerm" placeholder="Search" x-on:input="searchChanged">
    </div>
  </div>

  {{ template "loading" . }}
  <table class="action" x-show="!loading" x-cloak>
    <thead>
    <tr>
      <th class="id-col">Volume ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Deployed</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <template x-for="v in volumes" :key="v.volume_id">
      <tr x-show="!v.searchHide">
        <td class="id-col">
          <button @click="v.showIdPopup = true" class="show-id" x-text="v.volume_id"></button>
          <div x-show="v.showIdPopup" @click.away="v.showIdPopup = false" @keydown.window.escape="v.showIdPopup = false" class="id-popup">
            <input type="text" x-model="v.volume_id" readonly>
          </div>
        </td>
        <td x-text="v.name"></td>
        <td x-text="v.location"></td>
        <td>
          <span x-show="v.active" class="badge success">Running</span>
          <span x-show="!v.active" class="badge danger">Stopped</span>
        </td>
        <td>
          <button class="outline" @click="v.showMenu = true" x-show="!v.active || v.location == '{{ .location }}'"><i class='bx bx-dots-vertical'></i></button>
          <div x-show="v.showMenu" @click.away="v.showMenu = false" @keydown.window.escape="v.showMenu = false" class="menu-popup">
            <button x-show="!v.active" x-bind:disabled="v.starting && v.stopping" @click="v.showMenu = false; editVolume(v.volume_id)"><i class='bx bx-edit' ></i> Edit</button>
            <button x-show="!v.active" x-bind:disabled="v.starting || v.stopping" @click="v.showMenu = false; startVolume(v.volume_id); v.starting = true"><i class='bx bx-play-circle' ></i> Start<span x-show="v.starting">ing ...</span></button>
            <button x-show="v.active" x-bind:disabled="v.starting || v.stopping" @click="v.showMenu = false; stopConfirm.show = true; stopConfirm.volume = t"><i class='bx bx-stop-circle' ></i> Stop<span x-show="v.stopping">ping ...</span></button>
            <hr x-show="!v.active && !v.starting && !v.stopping" />
            <button x-show="!v.active && !v.starting && !v.stopping" @click="v.showMenu = false; deleteConfirm.show = true; deleteConfirm.volume = t" class="danger"><i class="bx bx-error-circle"></i> Delete</button>
          </div>
        </td>
      </tr>
    </template>
    </tbody>
  </table>

  <div class="modal-tint" x-show="deleteConfirm.show" x-cloak style="display: none;">
    <div class="modal">
      <div class="modal-body">
        <h2><i class='bx bxs-error'></i> Confirm Delete</h2>
        <p>Are you sure you want to delete the volume <span x-text="deleteConfirm.volume.name"></span>?</p>
      </div>
      <div class="modal-footer">
        <button @click="deleteConfirm.show = false">Cancel</button>
        <button class="danger" @click="deleteVolume(deleteConfirm.volume.volume_id); deleteConfirm.show = false">Delete</button>
      </div>
    </div>
  </div>

  <div class="modal-tint" x-show="stopConfirm.show" x-cloak style="display: none;">
    <div class="modal">
      <div class="modal-body">
        <h2><i class='bx bxs-error'></i> Confirm Stop Volume</h2>
        <p>Are you sure you want to stop the volume <span x-text="stopConfirm.volume.name"></span>?</p>
        <p>Stopping the volume will delete any data that it contains.</p>
      </div>
      <div class="modal-footer">
        <button @click="stopConfirm.show = false">Cancel</button>
        <button class="danger" @click="stopVolume(stopConfirm.volume.volume_id); stopConfirm.show = false">Stop</button>
      </div>
    </div>
  </div>

</div>

      </div>
    </div>
  </div>
</div>
{{ end }}
