{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Create API Token{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8">
  <div class="grid grid-cols-1 px-4 pt-6 lg:grid-cols-4 gap-2 xl:gap-4" x-data="createTokenForm()">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Create API Token</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      <form class="space-y-6" action="" method="POST" @submit.prevent="submitData">
        <div>
          <label for="name" class="form-label">Token Name</label>
          <input type="text" name="name" class="form-field" x-on:keyup.debounce.500ms="checkName()" :class="{'form-field-error': !nameValid}" placeholder="Token name" x-model="formData.name">
          <div x-show="!nameValid" class="error-message" x-cloak="">The token name is required and must be shorter than 255 characters.</div>
        </div>
        <button type="submit" class="btn-primary" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></button>
      </form>

    </div>
  </div>
</main>
{{ end }}
