{{ template "metaHead" (map "PageTitle" "Spaces") }}
{{ template "beforeContent" . }}

<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <h2>Spaces</h2>

        <div class="text-right">
          <a href="/spaces/create" class="button"><i class="bx bx-plus"></i> Create Space</a>
        </div>

<div x-data="spacesListComponent()" x-init="getSpaces">
  <div class="responsiveTableWrapper">
    <div class="responsiveTableWrapperInner">
      {{ template "loading" . }}
      <table class="action" x-show="!loading" x-cloak>
        <thead>
        <tr>
          <th>Space ID</th>
          <th>Name</th>
          <th>Template</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="s in spaces" :key="s.space_id">
          <tr>
            <td x-text="s.space_id" class="no-wrap"></td>
            <td x-text="s.name"></td>
            <td x-text="s.template_name"></td>
            <td>
              <a :href="`/proxy/spaces/${s.name}/code-server/`" :target="`spaces_${s.space_id}_codeserver`" x-show="s.has_code_server"><img src="icons/vscode.svg" alt="VSCode" style="max-height: 40px;" /></a>
              <img src="icons/terminal.svg" alt="Terminal" style="max-height: 40px;" x-show="s.has_terminal" @click="openTerminal(s.name, s.space_id)" style="cursor: pointer;" />
              <button x-show="!s.is_deployed" x-bind:disabled="s.starting" @click="startSpace(s.space_id); s.starting = true">Start<span x-show="s.starting">ing ...</span></button>
              <button x-show="s.is_deployed" x-bind:disabled="s.stopping" @click="stopSpace(s.space_id); s.stopping = true">Stop<span x-show="s.stopping">ping ...</span></button>
              <button x-show="!s.is_deployed" @click="editSpace(s.space_id)">Edit</button>
              <button x-show="!s.is_deployed" x-bind:disabled="s.deleting" @click="deleteSpace(s.space_id); s.deleting = true" class="danger"><span x-show="!s.deleting">Delete</span><span x-show="s.deleting">Deleting</span></button>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

<script>
function spacesListComponent() {
  return {
    loading: true,
    spaces: [],
    timerIDs: [],
    async getSpaces() {
      this.loading = true;

      // Clear all timers
      Object.keys(this.timerIDs).forEach((key) => {
        clearInterval(this.timerIDs[key]);
      });
      this.timerIDs = [];

      const response = await fetch('/api/v1/spaces', {
        headers: {
          'Content-Type': 'application/json'
        }
      });
      this.spaces = await response.json();
      this.loading = false;
      this.spaces.forEach(space => {
        space.starting = false;
        space.stopping = false;
        space.deleting = false;
        this.timerIDs[space.space_id] = setInterval(async () => {
          await this.fetchServiceState(space);
        }, 5000);
      });
    },
    async fetchServiceState(space, resetStateFlags = false) {
      await fetch(`/api/v1/spaces/${space.space_id}/service-state`, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
          response.json().then((serviceState) => {
            space.has_code_server = serviceState.has_code_server;
            space.has_ssh = serviceState.has_ssh;
            space.is_deployed = serviceState.is_deployed;

            if (resetStateFlags) {
              space.starting = false;
              space.stopping = false;
              space.deleting = false;
            }
          });
        } else {
          space.has_code_server = space.has_ssh = false;

          // If 404 then remove the space from the array
          if (response.status === 404) {
            this.spaces = this.spaces.filter(s => s.space_id !== space.space_id);
          }
        }
      });
    },
    async startSpace(spaceId) {
      await fetch(`/api/v1/spaces/${spaceId}/start`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
           window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space started", type: 'success' } }));
        } else {
          response.json().then((data) => {
            window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be started: " + data.error, type: 'error' } }));
          });
        }
      }).catch((error) => {
        window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be started: " + error, type: 'error' } }));
      }).finally(() => {
        const space = this.spaces.find(space => space.space_id === spaceId);
        this.fetchServiceState(space, true);
      });
    },
    async stopSpace(spaceId) {
      await fetch(`/api/v1/spaces/${spaceId}/stop`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
           window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space stopped", type: 'success' } }));
        } else {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be stopped", type: 'error' } }));
        }
      }).catch((error) => {
        window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be stopped: " + error, type: 'error' } }));
      }).finally(() => {
        const space = this.spaces.find(space => space.space_id === spaceId);
        this.fetchServiceState(space, true);
      });
    },
    async deleteSpace(spaceId) {
      await fetch(`/api/v1/spaces/${spaceId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
           window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space deleted", type: 'success' } }));
        } else {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be deleted", type: 'error' } }));
        }
      }).catch((error) => {
        window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space could not be deleted: " + error, type: 'error' } }));
      }).finally(() => {
        const space = this.spaces.find(space => space.space_id === spaceId);
        this.getSpaces();
      });
    },
  };
}
</script>

{{ template "afterContent" . }}
