{{ template "layout-center.tmpl" . }}

{{ define "pageTitle" }}No Access{{ end }}

{{ define "mainContent" }}
<div role="dialog" aria-modal="true" aria-labelledby="noAccessTitle">
  <!-- Modal Dialog -->
  <div class="ui-modal-panel">
    <!-- Dialog Header -->
    <div class="ui-modal-header">
      <div class="ui-modal-icon-danger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true" >
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
        </svg>
      </div>
      <h3 id="noAccessTitle" class="ui-modal-title">No Access</h3>
      <button @click="window.location.href='{{ if .permissionUseSpaces }}/spaces{{ else }}/clients{{ end }}'" class="ui-modal-close" aria-label="close modal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>
    <!-- Dialog Body -->
    <div class="ui-modal-body text-center">
      <p>You do not have permission to access this page.</p>
    </div>
    <!-- Dialog Footer -->
    <div class="ui-modal-footer">
        <a href="{{ if .permissionUseSpaces }}/spaces{{ else }}/clients{{ end }}" class="ui-button-primary">Return to Dashboard</a>
    </div>
  </div>
</div>
{{ end }}
