{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Usage{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8 bg-gray-50 dark:bg-gray-900" x-data="usageComponent('{{ .user_id }}')">
  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-4 gap-2 xl:gap-4 dark:bg-gray-900">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Usage</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <div x-show="!loading" x-cloak class="grid grid-cols-1 gap-4 sm:grid-cols-2 xlg:grid-cols-4">
        <div class="h-72">
          <canvas id="spaceUsage"></canvas>
        </div>
        <div class="h-72">
          <canvas id="tunnelUsage"></canvas>
        </div>
        <div class="h-72">
          <canvas id="computeUsage"></canvas>
        </div>
        <div class="h-72">
          <canvas id="storageUsage"></canvas>
        </div>
      </div>

    </div>
  </div>
</main>
{{ end }}
