{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Audit Logs{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8" x-data="auditLogComponent()">
  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-4 gap-2 xl:gap-4">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Audit Logs</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <div x-show="!loading" x-cloak class="relative overflow-x-auto sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 rounded-lg overflow-hidden">
          <thead class="bg-gray-100 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">Time</th>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">Event</th>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">Zone</th>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">User</th>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">Details</th>
              <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-600 uppercase dark:text-gray-300">Properties</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <template x-if="logs?.items?.length > 0">
              <template x-for="log in logs.items" :key="log.audit_log_id">
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-600/10">
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200 text-sm" x-text="log.when"></td>
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200" x-text="log.event"></td>
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200" x-text="log.zone"></td>
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200">
                    <span x-text="log.actor"></span>
                    <template x-if="log.actor_type.toLowerCase() != 'user'">
                      <div class="text-xs text-gray-500 dark:text-gray-400" x-text="log.actor_type"></div>
                    </template>
                  </td>
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200" x-text="log.details"></td>
                  <td class="px-4 py-3 whitespace-nowrap text-gray-700 dark:text-gray-200">
                    <template x-if="log.properties && Object.keys(log.properties).length > 0">
                      <template x-for="(v, k) in log.properties" :key="k">
                        <div class="text-xs">
                          <span x-text="k"></span>: <span x-text="v"></span>
                        </div>
                      </template>
                    </template>
                  </td>
                </tr>
              </template>
            </template>
          </tbody>
        </table>

        <!-- Start Pagination -->
        <template x-if="totalPages > 1">
          <div class="mt-4 mb-1 flex justify-end">
            <nav class="inline-flex rounded-md shadow-xs -space-x-px" aria-label="Pagination">
              <button @click="currentPage = 0; getAuditLogs()" :disabled="currentPage === 0" :class="{'hover:bg-gray-50 dark:hover:bg-gray-700': currentPage !== 0}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 cursor-pointer" aria-label="Go to start">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" aria-hidden="true" >
                <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                </svg>
              </button>
              <button @click="currentPage = Math.max(currentPage - 1, 0); getAuditLogs()" :disabled="currentPage === 0" :class="{'hover:bg-gray-50 dark:hover:bg-gray-700': currentPage !== 0}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 cursor-pointer" aria-label="Previous">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" aria-hidden="true" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
              </button>
              <div class="relative px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">
                <span x-text="currentPage + 1"></span> of <span x-text="totalPages"></span>
              </div>
              <button @click="currentPage = Math.min(currentPage + 1, totalPages - 1); getAuditLogs()" :disabled="currentPage >= totalPages - 1" :class="{'hover:bg-gray-50 dark:hover:bg-gray-700': currentPage < totalPages - 1}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 cursor-pointer" aria-label="Next">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" aria-hidden="true" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
              </button>
              <button @click="currentPage = totalPages - 1; getAuditLogs()" :disabled="currentPage >= totalPages - 1" :class="{'hover:bg-gray-50 dark:hover:bg-gray-700': currentPage < totalPages - 1}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 cursor-pointer" aria-label="Go to end">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" aria-hidden="true" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                </svg>
              </button>
            </nav>
          </div>
        </template>
        <!-- End Pagination -->

      </div>

    </div>
  </div>
</main>
{{ end }}
