{{ template "layout-center.tmpl" . }}

{{ define "pageTitle" }}No Access{{ end }}

{{ define "mainContent" }}
<h2>No Access</h2>
<p>You do not have permission to access this page.</p>
<p><a href="/spaces">Return to Dashboard</a></p>
{{ end }}
