{{ template "metaHead"  (map "PageTitle" "API Tokens") }}>
{{ template "beforeContent" . }}

<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <h2>API Tokens</h2>

      <div class="text-right">
        <a href="/api-tokens/create" class="button"><i class="bx bx-plus"></i> Create Token</a>
      </div>

<div x-data="tokenComponent()" x-init="getTokens">
  <div class="responsiveTableWrapper">
    <div class="responsiveTableWrapperInner">
      {{ template "loading" . }}
      <table class="action" x-show="!loading" x-cloak>
        <thead>
        <tr>
          <th>Token ID</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="t in tokens" :key="t.token_id">
          <tr>
            <td x-text="t.token_id" class="no-wrap"></td>
            <td x-text="t.name"></td>
            <td><button @click="deleteToken(t.token_id)" class="danger">Delete</button></td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>
</div>

    </div>
  </div>
</div>

<script>
function tokenComponent() {
  return {
    loading: true,
    tokens: [],
    async getTokens() {
      this.loading = true;
      const response = await fetch('/api/v1/tokens', {
        headers: {
          'Content-Type': 'application/json'
        }
      });
      this.tokens = await response.json();
      this.loading = false;
    },
    async deleteToken(tokenId) {
      await fetch(`/api/v1/tokens/${tokenId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response.status === 200) {
           window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Token deleted", type: 'success' } }));
        } else {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Token could not be deleted", type: 'error' } }));
        }
      });
      this.getTokens();
    },
  };
}
</script>

{{ template "afterContent" . }}
