{{ template "layout-center.tmpl" . }}

{{ define "pageTitle" }}Groups{{ end }}

{{ define "mainContent" }}
<div class="flex items-center justify-center mb-8 text-3xl font-semibold lg:mb-10 dark:text-white">
  <img src="images/logo.svg" class="mr-4 h-11" alt="knot logo"> knot
</div>

<div role="dialog" aria-modal="true" aria-labelledby="quotaReachedTitle">
  <!-- Modal Dialog -->
  <div class="ui-modal-panel">
    <!-- Dialog Header -->
    <div class="ui-modal-header">
      <div class="ui-modal-icon-danger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true" >
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
        </svg>
      </div>
      <h3 id="quotaReachedTitle" class="ui-modal-title">Space Quota Reached</h3>
    </div>
    <!-- Dialog Body -->
    <div class="ui-modal-body text-center">
      <p>You have reached the limit on the number of allowed spaces.</p>
      <p>Deleting unused spaces will allow you to create new spaces or contact the system administrator to have your quota increased.</p>
    </div>
    <!-- Dialog Footer -->
    <div class="ui-modal-footer">
        <a href="/templates" class="ui-button-primary">Return to Templates</a>
    </div>
  </div>
</div>
{{ end }}
