{{ template "layout-center.tmpl" . }}

{{ define "pageTitle" }}Page Not Fonund{{ end }}

{{ define "mainContent" }}
<h2>Page Not Found</h2>
<p>The requested page could not be found.</p>
<p><a href="/spaces">Return to Dashboard</a></p>
{{ end }}
