{{ template "metaHead" (map "PageTitle" "Not Found") }}
{{ template "beforeContent" . }}

<div class="content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box">
        <h2>Page Not Found</h2>
        <p>The requested page could not be found.</p>
      </div>
    </div>
  </div>
</div>

{{ template "afterContent" . }}
