{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Groups{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <h2>Groups</h2>

        <div class="text-right">
          <a href="/groups/create" class="button"><i class="bx bx-plus"></i> Create Group</a>
        </div>

<div x-data="groupListComponent()" x-init="getGroups">
  {{ template "loading" . }}
  <table class="action" x-show="!loading" x-cloak>
    <thead>
    <tr>
      <th class="id-col">Group ID</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <template x-for="g in groups" :key="g.group_id">
      <tr>
        <td class="id-col">
          <button @click="g.showIdPopup = true" class="show-id" x-text="g.group_id"></button>
          <div x-show="g.showIdPopup" @click.away="g.showIdPopup = false" @keydown.window.escape="g.showIdPopup = false" class="id-popup">
            <input type="text" x-model="g.group_id" readonly>
          </div>
        </td>
        <td x-text="g.name"></td>
        <td>
            <button @click="editGroup(g.group_id)"><i class='bx bx-edit' ></i> Edit</button>
            <button @click="deleteConfirm.show = true; deleteConfirm.group = g" class="danger"><i class="bx bx-error-circle"></i> Delete</button>
        </td>
      </tr>
    </template>
    </tbody>
  </table>

  <div class="modal-tint" x-show="deleteConfirm.show" x-cloak style="display: none;">
    <div class="modal">
      <div class="modal-body">
        <h2><i class='bx bxs-error'></i> Confirm Delete</h2>
        <p>Are you sure you want to delete the group <span x-text="deleteConfirm.group.name"></span>?</p>
      </div>
      <div class="modal-footer">
        <button @click="deleteConfirm.show = false">Cancel</button>
        <button class="danger" @click="deleteGroup(deleteConfirm.group.group_id); deleteConfirm.show = false">Delete</button>
      </div>
    </div>
  </div>

</div>

      </div>
    </div>
  </div>
</div>
{{ end }}
