{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Clients{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <h2>Clients</h2>

  <h3>macOS &amp; Linux with Homebrew</h3>

  <pre class="code"><code>brew install paularlott/homebrew/knot</code></pre>

  <h3>All Platforms</h3>

  <table class="action">
    <thead>
    <tr>
      <th>Platform</th>
      <th>Architecture</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linux</td>
        <td>amd64</td>
        <td><a href="/download/knot_linux_amd64.zip" class="button">Download</a></td>
      </tr>
      <tr>
        <td>Linux</td>
        <td>arm64</td>
        <td><a href="/download/knot_linux_arm64.zip" class="button">Download</a></td>
      </tr>
      <tr>
        <td>macOS</td>
        <td>amd64</td>
        <td><a href="/download/knot_darwin_amd64.zip" class="button">Download</a></td>
      </tr>
      <tr>
        <td>macOS</td>
        <td>arm64</td>
        <td><a href="/download/knot_darwin_arm64.zip" class="button">Download</a></td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>amd64</td>
        <td><a href="/download/knot_windows_amd64.exe.zip" class="button">Download</a></td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>arm64</td>
        <td><a href="/download/knot_windows_arm64.exe.zip" class="button">Download</a></td>
      </tr>
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>

{{ end }}
