{{ if .isEdit }}
{{ template "metaHead" (map "PageTitle" "Edit Space") }}
{{ else }}
{{ template "metaHead" (map "PageTitle" "Create Space") }}
{{ end }}
{{ template "beforeContent" . }}

<div class="content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box">
        <div x-data="spaceForm()" x-init="initData">
          <h2>{{ if .isEdit }}Edit Space{{ else }}Create Space{{ end }} <span x-show="formData.user_id.length">for <span x-text="forUsername"></span></span></h2>

          {{ template "loading" . }}
          <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
            <dl>
              <dt><label for="name">Space Name <em>*</em></label></dt>
              <dd>
                <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Space name" x-model="formData.name">
                <div x-show="!nameValid" class="error-message">Space name can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
              </dd>
              <dt><label for="name">Template <em>*</em></label></dt>
              <dd>
                <div class="selectControl">
                  <select id="template" name="template" x-model="formData.template_id">
                    {{ range $key, $value := .templateList }}
                      <option value="{{ $value.Id }}">{{ $value.Name }}</option>
                    {{ end }}
                  </select>
                </div>
              </dd>
              <dt x-show="formData.template_id === '00000000-0000-0000-0000-000000000000'"><label for="name">Agent URL <em>*</em></label></dt>
              <dd x-show="formData.template_id === '00000000-0000-0000-0000-000000000000'">
                <input type="url" name="address" x-on:keyup.debounce.500ms="checkAddress()" :class="{'error': !addressValid}" placeholder="URL of agent" x-model="formData.agent_url">
                <div x-show="!addressValid" class="error-message">When template is None this must be a valid URL.</div>
              </dd>
              <dt><label for="name">Terminal Shell <em>*</em></label></dt>
              <dd>
                <div class="selectControl">
                  <select id="shell" name="shell" x-model="formData.shell">
                    <option value="bash">Bash</option>
                    <option value="zsh">Zsh</option>
                    <option value="fish">fish</option>
                    <option value="sh">Bourne</option>
                  </select>
                </div>
                <p class="description">The shell that will be used when you open a web terminal in this space.</p>
              </dd>

              <dt></dt>
              <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
            </dl>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<script>

function spaceForm() {
  var isEdit = "{{ .isEdit }}" == 'true';

  return {
    formData: {
      name: "",
      template_id: "",
      agent_url: "",
      shell: "{{ .preferredShell }}",
      user_id: "{{ .forUserId }}",
    },
    loading: true,
    buttonLabel: isEdit ? 'Update Space' : 'Create Space',
    nameValid: true,
    addressValid: true,
    forUsername: "{{ .forUserUsername }}",
    async initData() {
      if(isEdit) {
        const spaceResponse = await fetch('/api/v1/spaces/{{ .spaceId }}', {
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (spaceResponse.status !== 200) {
          window.location.href = '/spaces';
        } else {
          const space = await spaceResponse.json();

          this.formData.name = space.name;
          this.formData.template_id = space.template_id;
          this.formData.agent_url = space.agent_url;
          this.formData.shell = space.shell;

          if(space.user_id != "{{ .user_id }}") {
            this.formData.user_id = space.user_id;
            this.forUsername = space.username;
          } else {
            this.formData.user_id = "";
            this.forUsername = "";
          }
        }
      }

      this.loading = false;
    },
    checkName() {
      return this.nameValid = validate.name(this.formData.name);
    },
    checkAddress() {
      if(this.formData.template_id == "00000000-0000-0000-0000-000000000000") {
        return this.addressValid = validate.uri(this.formData.agent_url);
      }
      return true;
    },
    submitData() {
      var err = false;
      err = !this.checkName() || err;
      err = !this.checkAddress() || err;
      if(err) {
        return;
      }

      this.buttonLabel = isEdit ? 'Updating space...' : 'Creating space...'
      this.loading = true;

      fetch(isEdit ? '/api/v1/spaces/{{ .spaceId }}' : '/api/v1/spaces', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(this.formData)
        })
        .then((response) => {
          if (response.status === 200) {
            window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Space updated", type: 'success' } }));
          } else if (response.status === 201) {
            window.location.href = '/spaces' + (this.forUserId ? '/' + this.forUserId : '');
          } else {
            response.json().then((data) => {
              window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: (isEdit ? "Failed to update space, " : "Failed to create space, ") + data.error, type: 'error' } }));
            });
          }
        })
        .catch((error) => {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: 'Ooops Error!<br />' + error.message, type: 'error' } }));
        })
        .finally(() => {
          this.buttonLabel = isEdit ? 'Update Space' : 'Create Space';
          this.loading = false;
        })
    },
  }
}

</script>

{{ template "afterContent" . }}
