{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Space{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <h2>Spaces</h2>

<div x-data="spacesListComponent('{{ .user_id }}', '{{ .username }}', '{{ .forUserId }}', {{ .permissionManageSpaces }}, '{{ .wildcard_domain }}', '{{ .location }}')" x-init="getSpaces">

  <div class="row">
    <div class="col-sm-4">
      <div class="selectControl" x-show="canManageSpaces">
        <select id="user" name="user" x-model="forUserId" x-on:change="userChanged">
          <option value="" x-bind:selected="forUserId === ''">All Users</option>
          <template x-for="user in users" :key="user.user_id">
            <option x-bind:value="user.user_id" x-text="user.username" x-bind:selected="user.user_id === forUserId"></option>
          </template>
        </select>
      </div>
    </div>
    <div class="col-sm-8">
    </div>
  </div>

  {{ template "loading" . }}
  <table class="action" x-show="!loading" x-cloak>
    <thead>
    <tr>
      <th class="id-col">Space ID</th>
      <th>Name</th>
      <th>Template</th>
      <th>User</th>
      <th>Disk</th>
      <th>Location</th>
      <th>Status</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <template x-for="s in spaces" :key="s.space_id">
      <tr>
        <td class="id-col">
          <button @click="s.showIdPopup = true" class="show-id" x-text="s.space_id"></button>
          <div x-show="s.showIdPopup" @click.away="s.showIdPopup = false" @keydown.window.escape="s.showIdPopup = false" class="id-popup">
            <input type="text" x-model="s.space_id" readonly>
          </div>
        </td>
        <td x-text="s.name"></td>
        <td x-text="s.template_name"></td>
        <td x-text="s.username"></td>
        <td x-text="s.volume_size + 'GB'"></td>
        <td x-text="s.location"></td>
        <td>
          <span x-show="!s.is_local" class="badge remote">Remote</span>

          <div x-show="s.is_local && s.is_deployed && s.template_id != '00000000-0000-0000-0000-000000000000'">
            <span x-show="s.is_deployed && !s.is_stopping" class="badge success">Running</span>
            <span x-show="s.is_starting" class="badge warning">Starting</span>
            <span x-show="s.is_stopping" class="badge warning">Stopping</span>
            <span x-show="!s.is_deployed && !s.is_stopping" class="badge danger">Stopped</span>
            <span x-show="s.update_available" class="badge update">Update Available</span>
          </div>
          <span x-show="s.is_local && s.is_deployed && s.template_id == '00000000-0000-0000-0000-000000000000'" class="badge warning">Listening</span>
        </td>
        <td>
          <span x-show="s.is_local && s.is_deployed && !s.is_stopping && s.user_id == '{{ .user_id }}'">
            <button class="outline" x-show="s.has_ssh" @click="s.showSSHPopup = true"><i class='bx bxs-terminal' ></i> SSH</button>
            <div x-show="s.showSSHPopup" @click.away="s.showSSHPopup = false" @keydown.window.escape="s.showSSHPopup = false" class="space-ssh-popup">
              <input type="text" x-model="s.sshCmd" readonly>
            </div>

            <button class="outline" x-show="s.has_http_vnc" @click="openWindowForVNC(s.space_id, s.name)"><i class='bx bx-desktop' ></i> Desktop</button>
            <button class="outline" x-show="s.has_code_server" @click="openCodeServer(s.space_id)"><i class='bx bx-code-alt' ></i> Code Server</button>
            <button class="outline" x-show="s.has_terminal" @click="openTerminal(s.space_id)"><i class='bx bx-terminal'></i> Terminal</button>
            <button class="outline" x-show="(s.tcp_ports && s.tcp_ports.length) || (s.http_ports && s.http_ports.length)" @click="s.showPortMenu = true"><i class='bx bx-network-chart'></i> Ports</button>
            <div x-show="s.showPortMenu" @click.away="s.showPortMenu = false" @keydown.window.escape="s.showPortMenu = false" class="menu-popup">
              <template x-for="port in s.http_ports" :key="port">
                <button x-text="port" @click="openWindowForPort(s.space_id, s.name, port); s.showPortMenu = false;"></button>
              </template>
              <template x-for="port in s.tcp_ports" :key="port">
                <div class="tcp-port" x-text="port"></div>
              </template>
            </div>
          </span>

          <button x-show="s.is_local" class="outline" @click="s.showMenu = true"><i class='bx bx-dots-vertical'></i></button>
          <div x-show="s.showMenu" @click.away="s.showMenu = false" @keydown.window.escape="s.showMenu = false" class="menu-popup">
            <button x-show="!s.is_deployed && s.template_id != '00000000-0000-0000-0000-000000000000'" x-bind:disabled="s.starting || s.stopping || s.deleting" @click="startSpace(s.space_id); s.starting = true"><i class='bx bx-play-circle' ></i> Start<span x-show="s.starting">ing ...</span></button>
            <button x-bind:disabled="s.starting || s.stopping || s.deleting" @click="editSpace(s.space_id)"><i class='bx bx-edit' ></i> Edit</button>
            <button x-show="s.is_deployed && s.template_id != '00000000-0000-0000-0000-000000000000'" x-bind:disabled="s.starting || s.stopping || s.deleting" @click="stopSpace(s.space_id); s.stopping = true"><i class='bx bx-stop-circle' ></i> Stop<span x-show="s.stopping">ping ...</span></button>
            <button x-show="!s.is_deployed" x-bind:disabled="s.starting || s.stopping || s.deleting" @click="deleteConfirm.show = true; deleteConfirm.space = s; s.deleting = true" class="danger"><i class="bx bx-error-circle"></i> <span x-show="!s.deleting">Delete</span><span x-show="s.deleting">Deleting</span></button>
          </div>
        </td>
      </tr>
    </template>
    </tbody>
  </table>


  <div class="modal-tint" x-show="deleteConfirm.show" x-cloak style="display: none;">
    <div class="modal">
      <div class="modal-body">
        <h2><i class='bx bxs-error'></i> Confirm Delete</h2>
        <p>Are you sure you want to delete the space <span x-text="deleteConfirm.space.name"></span>?</p>
        <p>Deleting the space will also delete any template volumes and the data they contain.</p>
      </div>
      <div class="modal-footer">
        <button @click="deleteConfirm.show = false; deleteConfirm.space.deleting = false">Cancel</button>
        <button class="danger" @click="deleteSpace(deleteConfirm.space.space_id); deleteConfirm.show = false">Delete</button>
      </div>
    </div>
  </div>

</div>

      </div>
    </div>
  </div>
</div>
{{ end }}
