{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Space{{ else }}Create Space{{ end }}{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box">
        <div x-data="spaceForm({{ .isEdit }}, '{{ .spaceId }}', '{{ .user_id }}', '{{ .preferredShell }}', '{{ .forUserId }}', '{{ .forUserUsername }}', '{{ .templateId }}')" x-init="initData">
          <h2>{{ if .isEdit }}Edit Space{{ else }}Create Space{{ end }} <span x-show="formData.user_id.length">for <span x-text="forUsername"></span></span></h2>

          {{ template "loading" . }}
          <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
            <dl>
              <dt><label for="name">Space Name <em>*</em></label></dt>
              <dd>
                <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Space name" x-model="formData.name">
                <div x-show="!nameValid" class="error-message">Space names can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
              </dd>
              <dt><label>Additional Space Names</label> <button type="button" class="outline" x-on:click="addAltName()"><i class='bx bxs-message-square-add' ></i></button></dt>
              <dd>
                <template x-for="(name, index) in formData.alt_names" :key="index">
                  <div class="additional-name">
                    <div class="control">
                      <input type="text" x-model="formData.alt_names[index]" x-on:keyup.debounce.500ms="checkAltName(index)" :class="{'error': !altNameValid[index]}" placeholder="Additional space name">
                      <button type="button" class="outline" x-on:click="removeAltName(index)"><i class='bx bx-trash'></i></button>
                    </div>
                    <div x-show="!altNameValid[index]" class="error-message">Space names can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
                  </div>
                </template>
              </dd>
              <dt><label for="name">Template <em>*</em></label></dt>
              <dd>
                <div class="selectControl">
                  <select id="template" name="template" x-model="formData.template_id" readonly disabled>
                    <template x-for="template in templates" :key="template.template_id">
                      <option :value="template.template_id" x-text="template.name"></option>
                    </template>
                  </select>
                </div>
              </dd>
              <dt x-show="formData.template_id === '00000000-0000-0000-0000-000000000000'"><label for="name">Agent URL <em>*</em></label></dt>
              <dd x-show="formData.template_id === '00000000-0000-0000-0000-000000000000'">
                <input type="url" name="address" x-on:keyup.debounce.500ms="checkAddress()" :class="{'error': !addressValid}" placeholder="URL of agent" x-model="formData.agent_url">
                <div x-show="!addressValid" class="error-message">When template is None this must be a valid URL.</div>
              </dd>
              <dt><label for="name">Terminal Shell <em>*</em></label></dt>
              <dd>
                <div class="selectControl">
                  <select id="shell" name="shell" x-model="formData.shell">
                    <option value="bash">Bash</option>
                    <option value="zsh">Zsh</option>
                    <option value="fish">fish</option>
                    <option value="sh">Bourne</option>
                  </select>
                </div>
                <div class="description">The shell that will be used when you open a web terminal in this space.</div>
              </dd>
              <dt x-show="!isEdit && hasEditableVolumeSizes"><label for="name">Volume Size(s) <em>*</em></label></dt>
              <dd x-show="!isEdit && hasEditableVolumeSizes">
                <ul>
                <template x-for="(vs, idx) in volume_sizes" :key="idx">
                  <li x-show="vs.capacity_min != vs.capacity_max">
                    <label x-text="volume_size_label[vs.id].label"></label>
                    <input type="number" :class="{'error': !volume_size_valid[vs.id]}" :min="vs.capacity_min" :max="vs.capacity_max" :disabled="isEdit || vs.capacity_min == vs.capacity_max" :readonly="isEdit || vs.capacity_min == vs.capacity_max"  placeholder="Volume Size in GB" x-model="formData.volume_sizes[vs.id]" @blur.debounce.500ms="checkVolumeSize(vs.id)" />
                    <div x-show="!volume_size_valid[vs.id]" class="error-message">Please enter a valid volume size in GB.</div>
                    <div class="description" x-show="vs.capacity_min != vs.capacity_max">Between <span x-text="vs.capacity_min"></span>GB and <span x-text="vs.capacity_max"></span>GB</div>
                  </li>
                </template>
                </ul>
              </dd>
              <dt></dt>
              <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
            </dl>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{{ end }}
