{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}Spaces{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8 bg-gray-50 dark:bg-gray-900" x-data="spacesListComponent('{{ .user_id }}', '{{ .username }}', '{{ .forUserId }}', {{ .permissionManageSpaces }}, '{{ .wildcard_domain }}', '{{ .location }}')">
  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-4 gap-2 xl:gap-4 dark:bg-gray-900">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        {{ if eq .user_id .forUserId }}
          Spaces
        {{ else }}
          Spaces for {{ .forUserUsername }}
        {{ end }}
      </h1>
    </div>

    <form class="col-span-full sm:flex justify-between">
      <div x-show="canManageSpaces && !showingSpecificUser" class="sm:order-2">
          <label for="countries" class="sr-only">Select an option</label>
          <div class="relative mt-1 sm:w-48 lg:w-64 xl:w-96 justify-end">
            <select x-show="!loading" class="form-field bg-white" name="user" x-model="forUserId" x-on:change="userChanged">
              <option value="" x-bind:selected="forUserId === ''">All Users</option>
              <template x-for="user in users" :key="user.user_id">
                <option x-bind:value="user.user_id" x-text="user.username" x-bind:selected="user.user_id === forUserId"></option>
              </template>
            </select>
          </div>
      </div>
      <div class="sm:order-1">
        <label for="search" class="sr-only">Search</label>
        <div class="relative mt-1 sm:w-48 lg:w-64 xl:w-96">
          <input type="search" name="search" class="form-field bg-white" placeholder="Search" x-model="searchTerm" x-on:input="searchChanged">
        </div>
      </div>
    </form>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <div x-show="!loading" x-cloak class="relative overflow-x-auto sm:rounded-lg">
        <table class="w-full text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b dark:border-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3" x-show="forUserId == ''">User</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-6 py-3">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="s in spaces" :key="s.space_id">
              <tr x-show="!s.searchHide" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                  <div x-text="s.name"></div>
                  <div class="text-xs" x-text="s.template_name"></div>
                  <div x-show="s.is_local && s.template_id == '00000000-0000-0000-0000-000000000000'" class="text-xs mt-2" x-text="s.space_id"></div>
                </td>
                <td class="px-6 py-4" x-text="s.username" x-show="forUserId == ''"></td>
                <td class="px-6 py-4">
                  <span x-show="!s.is_local" class="inline-block bg-yellow-100 text-yellow-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">Remote</span>

                  <div x-show="s.is_local && s.template_id != '00000000-0000-0000-0000-000000000000'">
                    <span x-show="s.is_deployed && !s.is_pending" class="inline-block bg-green-100 text-green-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Running</span>
                    <span x-show="!s.is_deployed && s.is_pending" class="inline-block bg-yellow-100 text-yellow-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">Starting</span>
                    <span x-show="s.is_deployed && s.is_pending" class="inline-block bg-yellow-100 text-yellow-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">Stopping</span>
                    <span x-show="s.is_deleting" class="inline-block bg-red-100 text-red-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">Deleting</span>
                    <span x-show="s.update_available && !s.is_pending" class="inline-block bg-indigo-100 text-indigo-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400 text-nowrap">Update Available</span>
                  </div>

                  <span x-show="s.is_local && s.is_deployed && s.template_id == '00000000-0000-0000-0000-000000000000'" class="inline-block bg-yellow-100 text-yellow-800 text-xs font-medium m-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">Listening</span>
                </td>
                <td class="px-6 py-4">
                  <div class="flex items-center justify-end">
                    <div x-show="s.is_local && s.is_deployed && !s.is_pending && s.user_id == '{{ .user_id }}'" class="flex items-center justify-end">

                      <div x-data x-show="s.has_http_vnc" x-cloak class="mr-2">
                        <button @click="openWindowForVNC(s.space_id, s.name)" @mouseenter="$refs.tooltip.open" @mouseleave="$refs.tooltip.close" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                          </svg><span class="sr-only">Desktop</span>
                        </button>
                        <div x-ref="tooltip" x-float.placement.bottom.flip class="absolute z-50 my-1 px-4 py-1 block whitespace-nowrap text-sm text-white bg-gray-400 dark:bg-gray-900 rounded-lg shadow-sm" role="tooltip" x-cloak>Desktop</div>
                      </div>

                      <div x-data x-show="s.has_code_server" x-cloak class="mr-2">
                        <button @click="openCodeServer(s.space_id)" @mouseenter="$refs.tooltip.open" @mouseleave="$refs.tooltip.close" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                          </svg><span class="sr-only">Code</span>
                        </button>
                        <div x-ref="tooltip" x-float.placement.bottom.flip class="absolute z-50 my-1 px-4 py-1 block whitespace-nowrap text-sm text-white bg-gray-400 dark:bg-gray-900 rounded-lg shadow-sm" role="tooltip" x-cloak>Code</div>
                      </div>

                      <div x-data x-show="s.has_terminal" x-cloak class="mr-2">
                        <button @click="openTerminal(s.space_id)" @mouseenter="$refs.tooltip.open" @mouseleave="$refs.tooltip.close" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
                          </svg><span class="sr-only">Terminal</span>
                        </button>
                        <div x-ref="tooltip" x-float.placement.bottom.flip class="absolute z-50 my-1 px-4 py-1 block whitespace-nowrap text-sm text-white bg-gray-400 dark:bg-gray-900 rounded-lg shadow-sm" role="tooltip" x-cloak>Terminal</div>
                      </div>

                      <div x-data x-show="(s.tcp_ports && Object.entries(s.tcp_ports).length) || (s.http_ports && Object.entries(s.http_ports).length)" x-cloak class="mr-2">
                        <button @click="$refs.panel.toggle" @mouseenter="$refs.tooltip.open" @mouseleave="$refs.tooltip.close" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                          </svg><span class="sr-only">Ports</span>
                        </button>
                        <div x-ref="tooltip" x-float.placement.bottom.flip class="absolute z-50 my-1 px-4 py-1 block whitespace-nowrap text-sm text-white bg-gray-400 dark:bg-gray-900 rounded-lg shadow-sm" role="tooltip" x-cloak>Ports</div>

                        <div x-ref="panel" x-float.teleport.placement.bottom-end.flip @click.away="$refs.panel.close" @keydown.window.escape="$refs.panel.close" class="fixed z-50 my-1 text-base p-2 list-none bg-white divide-y divide-gray-100 rounded-lg shadow-xl border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:divide-gray-600 block whitespace-nowrap" x-cloak>
                          <template x-for="[key, value] in Object.entries(s.http_ports)" :key="key">
                            <button x-text="key==value ? key : value + ' (' + key + ')'" @click="$refs.panel.close; openWindowForPort(s.space_id, s.name, key)" class="nav-item text-sm px-4 w-full" role="menuitem"></button>
                          </template>
                          <hr x-show="Object.entries(s.http_ports).length && Object.entries(s.tcp_ports).length" class="my-2" />
                          <template x-for="[key, value] in Object.entries(s.tcp_ports)" :key="key">
                            <button disabled="disabled" x-text="key==value ? key : value + ' (' + key + ')'" class="nav-item text-sm px-4 w-full hover:bg-transparent hover:dark:bg-transparent" role="menuitem"></button>
                          </template>
                        </div>
                      </div>
                    </div>

                    <div x-data x-show="s.is_local" x-cloak>
                      <button @click="$refs.panel.toggle" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" clip-rule="evenodd" />
                        </svg><span class="sr-only">More</span>
                      </button>

                      <div x-ref="panel" x-float.teleport.placement.bottom-end.flip @click.away="if (!$refs.panel2.__x.$data.show && !$refs.panel3.__x.$data.show) $refs.panel.close" @keydown.window.escape="if (!$refs.panel2.__x.$data.show && !$refs.panel3.__x.$data.show) $refs.panel.close" class="fixed z-50 my-1 text-base p-2 list-none bg-white divide-y divide-gray-100 rounded-lg shadow-xl border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:divide-gray-600 block whitespace-nowrap" x-cloak>
                        <button x-show="!s.is_deployed && !s.is_pending && s.template_id != '00000000-0000-0000-0000-000000000000'" @click="$refs.panel.close; startSpace(s.space_id); s.is_pending = true" class="group nav-item text-sm px-4 w-full" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                          </svg> Start
                        </button>
                        <button x-show="!s.is_pending" @click="$refs.panel.close; editSpace(s.space_id)" class="group nav-item text-sm px-4 w-full" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                          </svg> Edit
                        </button>

                        <button x-show="s.is_local && s.is_deployed && !s.is_pending && s.user_id == '{{ .user_id }}' && s.has_ssh" @click="$refs.panel3.toggle" class="group nav-item text-sm px-4 w-full" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 mr-2">
                            <path fill-rule="evenodd" d="M2.25 6a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V6Zm3.97.97a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06l-2.25 2.25a.75.75 0 0 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Zm4.28 4.28a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
                          </svg> SSH Info
                        </button>

                        <button @click="$refs.panel2.toggle" class="group nav-item text-sm px-4 w-full" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                          </svg> Info
                        </button>
                        <hr x-show="(s.is_deployed || s.is_pending) && s.template_id != '00000000-0000-0000-0000-000000000000'" class="my-2" />
                        <button x-show="(s.is_deployed || s.is_pending) && s.template_id != '00000000-0000-0000-0000-000000000000'" @click="$refs.panel.close; stopSpace(s.space_id); s.is_pending = true" class="group nav-item text-sm px-4 w-full text-white bg-red-700 hover:bg-red-800 dark:bg-red-600 dark:hover:bg-red-700" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 0 1 9 14.437V9.564Z" />
                          </svg> Stop
                        </button>
                        <hr x-show="!s.is_deployed && !s.is_pending" class="my-2" />
                        <button x-show="!s.is_deployed && !s.is_pending" @click="$refs.panel.close; deleteConfirm.show = true; deleteConfirm.space = s; s.is_deleting = true" class="group nav-item text-sm px-4 w-full text-white bg-red-700 hover:bg-red-800 dark:bg-red-600 dark:hover:bg-red-700" role="menuitem">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg> Delete
                        </button>
                      </div>

                      <div x-ref="panel2" x-float.teleport.placement.left-end.flip.offset="{offset: 16}" @click.away="$refs.panel2.close" @keydown.window.escape="$refs.panel2.close" class="fixed z-50 my-1 text-base py-2 px-3 list-none bg-white rounded-lg shadow-xl border border-gray-200 dark:bg-gray-800 dark:border-gray-700 block whitespace-nowrap" x-cloak>
                        <div class="flex items-center my-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                          </svg>
                          <div class="ml-2"><strong>Location:</strong> <span x-text="s.location"></span></div>
                        </div>
                        <div class="flex items-center my-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                          </svg>
                          <div class="ml-2"><strong>Disk:</strong> <span x-text="s.volume_size + 'GB'"></span></div>
                        </div>
                        <div class="flex items-center my-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                          </svg>
                          <div class="ml-2"><strong>User:</strong> <span x-text="s.username"></span></div>
                        </div>
                      </div>

                      <div x-ref="panel3" x-float.teleport.placement.left-end.flip.offset="{offset: 16}" @click.away="$refs.panel3.close" @keydown.window.escape="$refs.panel3.close" class="fixed z-50 my-1 text-base p-2 list-none bg-white divide-y divide-gray-100 rounded-lg shadow-xl border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:divide-gray-600 block whitespace-nowrap w-full max-w-lg" x-cloak>
                        <input type="text" x-model="s.sshCmd" readonly class="form-field w-full">
                      </div>

                    </div>

                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Modal -->
      <div x-cloak x-show="deleteConfirm.show" x-transition.opacity.duration.200ms x-trap.inert.noscroll="deleteConfirm.show" @keydown.esc.window="deleteConfirm.show = false; deleteConfirm.space.deleting = false" @click.self="deleteConfirm.show = false; deleteConfirm.space.deleting = false" class="fixed top-0 left-0 right-0 bottom-0 inset-0 z-30 flex items-end justify-center bg-black/20 p-4 pb-8 backdrop-blur-sm sm:items-center lg:p-8" role="dialog" aria-modal="true" aria-labelledby="defaultModalTitle">
        <!-- Modal Dialog -->
        <div x-show="deleteConfirm.show" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="scale-0" x-transition:enter-end="scale-100" class="flex max-w-lg flex-col gap-4 overflow-hidden rounded-lg border border-grey-200 bg-white text-neutral-600 dark:bg-gray-800 dark:border-gray-700 dark:text-neutral-300 shadow-xl">
          <!-- Dialog Header -->
          <div class="flex items-center justify-between border-b border-neutral-300 bg-neutral-50/60 p-4 dark:border-gray-700 dark:bg-gray-800/20">
            <div class="flex items-center justify-center rounded-full bg-red-500/20 text-red-500 p-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
              </svg>
            </div>
            <h3 class="font-semibold tracking-wide text-neutral-900 dark:text-white">Confirm Delete</h3>
            <button @click="deleteConfirm.show = false; deleteConfirm.space.deleting = false" aria-label="close modal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <!-- Dialog Body -->
          <div class="px-4 py-4 text-center">
            <p>Are you sure you want to delete the space <strong x-text="deleteConfirm.space.name"></strong>?</p>
            <p>Deleting the space will also delete any template volumes and the data they contain.</p>
          </div>
          <!-- Dialog Footer -->
          <div class="flex flex-col-reverse justify-between gap-2 border-t border-neutral-300 bg-neutral-50/60 p-4 dark:border-gray-700 dark:bg-gray-800/20 sm:flex-row sm:items-center md:justify-end">
              <button @click="deleteConfirm.show = false; deleteConfirm.space.deleting = false" type="button" class="cursor-pointer whitespace-nowrap rounded-lg px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-600 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:text-neutral-300 dark:focus-visible:outline-white hover:bg-gray-100 dark:hover:bg-gray-700">Keep Space</button>
              <button @click="deleteSpace(deleteConfirm.space.space_id); deleteConfirm.space.is_deleting=true; deleteConfirm.show = false" type="button" class="cursor-pointer whitespace-nowrap rounded-lg bg-red-700 hover:bg-red-800 px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:text-white dark:bg-red-600 dark:hover:bg-red-700 dark:focus-visible:outline-white">Delete Space</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>
{{ end }}
