{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Space{{ else }}Create Space{{ end }}{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8">
  <div class="grid grid-cols-1 px-4 pt-6 lg:grid-cols-4 gap-2 xl:gap-4" x-data="spaceForm({{ .isEdit }}, '{{ .spaceId }}', '{{ .user_id }}', '{{ .preferredShell }}', '{{ .forUserId }}', '{{ .forUserUsername }}', '{{ .templateId }}')" x-init="initData">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ if .isEdit }}Edit Space{{ else }}Create Space{{ end }} <span x-text="'(' + template.name + ')'"></span> <span x-show="formData.user_id.length">for <span x-text="forUsername"></span></span></h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <form class="space-y-6" action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
        <div>
          <label for="name" class="form-label">Space Name</label>
          <input type="text" class="form-field" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'form-field-error': !nameValid}" placeholder="Space name" x-model="formData.name">
          <div x-show="!nameValid" class="error-message" x-cloak>Space names can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
        </div>
        <div>
          <label for="desc" class="form-label">Description</label>
          <div :class="{'form-field-error': !descValid, 'editor-wrap': true}">
            <textarea name="desc" class="form-field" id="desc" x-model="formData.description"></textarea>
          </div>
          <div x-show="!descValid" class="error-message" x-cloak>Description must be less than 64K characters.</div>
        </div>
        <div x-data="autocompleterIcon({{ .iconList }})" data-parent-var-group="formData" data-parent-variable="icon_url" @refresh-autocompleter.window="refresh()" class="mt-2">
          <label for="icon_url" class="form-label">Template Icon</label>
          <div class="flex items-center">
            <img x-show="formData.icon_url.length" :src="formData.icon_url" alt="Icon" class="size-10 mr-2">
            <div class="relative w-full max-w-sm">
              <input x-model="search" class="form-field" type="search" placeholder="Search icons..."
                @focus="showList = true; $refs.searchInput.select()"
                @blur.debounce.200ms="showList = false"
                x-ref="searchInput" spellcheck="false" autocomplete="off">
                <div x-show="showList && filteredOptions.length" x-cloak class="w-full max-h-120 overflow-auto absolute z-50 my-1 text-base p-2 list-none bg-white divide-y divide-gray-100 rounded-lg shadow-xl border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:divide-gray-600 block whitespace-nowrap">
                <ul class="list-none">
                  <template x-for="(option, index) in filteredOptions" :key="index">
                  <li @click="selectOption(option)" class="my-1 cursor-pointer nav-item text-sm">
                    <img x-show="option.url.length" :src="option.url" alt="Icon" class="size-10 mr-2">
                    <div x-text="option.description + ' (' + option.source + ')'"></div>
                  </li>
                  </template>
                </ul>
              </div>
            </div>
            <div class="cursor-pointer ml-2 text-gray-900 dark:text-white" @click="clear()" x-show="formData.icon_url.length" title="Clear Icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center mb-1">
            <label class="form-label mb-0 mr-2">Additional Space Names</label>
            <button type="button" x-on:click="addAltName()" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-hidden rounded-lg text-sm p-2.5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
              <span class="sr-only">Add</span>
            </button>
          </div>
          <template x-for="(name, index) in formData.alt_names" :key="index">
            <div class="mb-2">
              <div class="flex items-center">
                <input type="text" class="form-field mr-2" x-model="formData.alt_names[index]" x-on:keyup.debounce.500ms="checkAltName(index)" :class="{'form-field-error': !altNameValid[index]}" placeholder="Additional space name">
                <button type="button" x-on:click="removeAltName(index)" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-hidden rounded-lg text-sm p-2.5">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg> <span class="sr-only">Remove</span>
                </button>
              </div>
              <div x-show="!altNameValid[index]" class="error-message">Space names can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
            </div>
          </template>
        </div>
        <div>
          <label for="shell" class="form-label">Terminal Shell</label>
          <select class="form-field" name="shell" x-model="formData.shell">
            <option value="bash">Bash</option>
            <option value="zsh">Zsh</option>
            <option value="fish">fish</option>
            <option value="sh">Bourne</option>
          </select>
          <div class="description">The shell that will be used when you open a web terminal in this space.</div>
        </div>

        <div x-show="!isManual && template.custom_fields.length" x-cloak>
          <fieldset class="rounded-lg p-3 border border-gray-200 dark:border-gray-700">
            <legend class="text-md font-medium text-gray-900 dark:text-white">Custom Fields</legend>
            <div class="space-y-6">
              <template x-for="(field, index) in template.custom_fields" :key="index">
                <div>
                  <label class="form-label" x-text="template.custom_fields[index].description + ' (' + template.custom_fields[index].name + ')'"></label>
                  <input type="text" class="form-field" placeholder="Field value" x-model="formData.custom_fields[index].value">
                </div>
              </template>
            </div>
          </fieldset>
        </div>

        {{ if not .isEdit }}
        <div x-cloak x-show="!isManual">
          <label class="flex items-center cursor-pointer mb-2">
            <input type="checkbox" class="sr-only peer" value="1" x-model="startOnCreate" :checked="startOnCreate">
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-hidden peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:rtl:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 peer-checked:dark:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Start Space On Create</span>
          </label>
        </div>
        {{ end }}

        <button type="submit" class="btn-primary mr-2" :value="buttonLabel" x-text="saving ? buttonLabelWorking : buttonLabel" :disabled="loading || saving" x-on:click="stayOnPage=true"></button>
        <button type="submit" class="btn-primary" x-show="isEdit" :disabled="saving" x-on:click="stayOnPage=false">Save</button>
      </form>

      <div x-cloak x-show="quotaStorageLimitShow" x-transition.opacity.duration.200ms x-trap.inert.noscroll="quotaStorageLimitShow" @keydown.esc.window="quotaStorageLimitShow = false" @click.self="quotaStorageLimitShow = false" class="fixed top-0 left-0 right-0 bottom-0 inset-0 z-30 flex items-end justify-center bg-black/20 p-4 pb-8 backdrop-blur-xs sm:items-center lg:p-8" role="dialog" aria-modal="true" aria-labelledby="defaultModalTitle">
        <!-- Modal Dialog -->
        <div x-show="quotaStorageLimitShow" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="scale-0" x-transition:enter-end="scale-100" class="flex max-w-lg flex-col gap-4 overflow-hidden rounded-lg border border-grey-200 bg-white text-neutral-600 dark:bg-gray-800 dark:border-gray-700 dark:text-neutral-300 shadow-xl">
          <!-- Dialog Header -->
          <div class="flex items-center justify-between border-b border-neutral-300 bg-neutral-50/60 p-4 dark:border-gray-700 dark:bg-gray-800/20">
            <div class="flex items-center justify-center rounded-full bg-red-500/20 text-red-500 p-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
              </svg>
            </div>
            <h3 class="font-semibold tracking-wide text-neutral-900 dark:text-white">Storage Quota Exceeded</h3>
            <button @click="quotaStorageLimitShow = false" aria-label="close modal" class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <!-- Dialog Body -->
          <div class="px-4 py-4 text-center">
            <p>Creating this space would exceed your storage quota.</p>
            <p>You can stop and delete another space to reduce your storage usage or contact your administrator to increase your quota.</p>
          </div>
          <!-- Dialog Footer -->
          <div class="flex flex-col-reverse justify-between gap-2 border-t border-neutral-300 bg-neutral-50/60 p-4 dark:border-gray-700 dark:bg-gray-800/20 sm:flex-row sm:items-center md:justify-end">
              <button @click="quotaStorageLimitShow = false" type="button" class="cursor-pointer whitespace-nowrap rounded-lg bg-red-700 hover:bg-red-800 px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:text-white dark:bg-red-600 dark:hover:bg-red-700 dark:focus-visible:outline-white">Dismiss</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>
{{ end }}
