{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Template"{{ else }}Create Template{{ end }}{{ end }}

{{ define "mainContent" }}
<div class="content full-height">
  <div class="row">
    <div class="col-sm-12">
      <div class="box full-height" x-data="templateForm({{ .isEdit }}, '{{ .templateId }}')" x-init="initData">
        <h2>{{ if .isEdit }}Edit Template{{ else }}Create Template{{ end }}</h2>

        {{ template "loading" . }}
        <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
          <dl>
            <dt><label for="name">Name <em>*</em></label></dt>
            <dd>
              <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Template name" x-model="formData.name">
              <div x-show="!nameValid" class="error-message">Template name can be a max 64 characters.</div>
            </dd>
            <dt><label for="description">Description</label></dt>
            <dd class="short-editor">
              <textarea name="description" id="description" placeholder="Description"></textarea>
            </dd>
            <dt><label for="job">Nomad Job (HCL) <em>*</em></label></dt>
            <dd class="grow">
              <div :class="{'error': !jobValid, 'editor-wrap': true}">
                <textarea name="job" id="job"></textarea>
                <div x-show="!jobValid" class="error-message">Template is required.</div>
              </div>
            </dd>
            <dt><label for="vol">Volume Definition (YAML)</label></dt>
            <dd>
              <div :class="{'error': !volValid, 'editor-wrap': true}">
                <textarea name="vol" id="vol"></textarea>
                <div x-show="!volValid" class="error-message">Volume definition must be valid YAML.</div>
              </div>
            </dd>
            <dt><label>Restrict to Groups</label></dt>
              <dd class="checkbox-group">
                <template x-for="(group, index) in groups" :key="index">
                  <label class="checkbox">
                    <input type="checkbox" :id="'group-' + index" name="groups[]" :value="group.group_id" :checked="formData.groups.includes(group.group_id)" @change="toggleGroup(group.group_id)">
                    <span x-text="group.name"></span>
                  </label>
                </template>
              </dd>
            <dt></dt>
            <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
          </dl>
        </form>

      </div>
    </div>
  </div>
</div>
{{ end }}
