{{ if .isEdit }}
{{ template "metaHead" (map "PageTitle" "Edit Template") }}
{{ else }}
{{ template "metaHead" (map "PageTitle" "Create Template") }}
{{ end }}
{{ template "beforeContent" . }}

<div class="content full-height">
  <div class="row">
    <div class="col-sm-12">
      <div class="box full-height" x-data="templateForm()" x-init="initData()">
        <h2>{{ if .isEdit }}Edit Template{{ else }}Create Template{{ end }}</h2>

        {{ template "loading" . }}
        <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
          <dl>
            <dt><label for="name">Name <em>*</em></label></dt>
            <dd>
              <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Template name" x-model="formData.name">
              <div x-show="!nameValid" class="error-message">Template name can be a max 64 characters.</div>
            </dd>
            <dt><label for="job">Nomad Job (HCL) <em>*</em></label></dt>
            <dd class="grow">
              <div :class="{'error': !jobValid, 'editor-wrap': true}">
                <textarea name="job" id="job"></textarea>
                <div x-show="!jobValid" class="error-message">Template is required.</div>
              </div>
            </dd>
            <dt><label for="job">Volume Definition (YAML)</label></dt>
            <dd>
              <div :class="{'error': !volValid, 'editor-wrap': true}">
                <textarea name="vol" id="vol"></textarea>
                <div x-show="!volValid" class="error-message">Volume definition must be valid YAML.</div>
              </div>
            </dd>
            <dt></dt>
            <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
          </dl>
        </form>

      </div>
    </div>
  </div>
</div>

<script>

function templateForm() {
  var isEdit = "{{ .isEdit }}" == 'true';

  return {
    formData: {
      name: "{{ .templateName }}",
      job: "{{ .templateJob }}",
      volumes: "{{ .templateVolumes }}",
    },
    loading: true,
    buttonLabel: isEdit ? 'Update Template' : 'Create Template',
    nameValid: true,
    jobValid: true,
    volValid: true,

    async initData() {
      if(isEdit) {
        const templateResponse = await fetch('/api/v1/templates/{{ .templateId }}', {
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (templateResponse.status !== 200) {
          window.location.href = '/spaces';
        } else {
          const template = await templateResponse.json();

          this.formData.name = template.name;
          this.formData.job = template.job;
          this.formData.volumes = template.volumes;
        }
      }

      let darkMode = JSON.parse(localStorage.getItem('darkMode'));
      if(darkMode == null)
        darkMode = true;

      // Create the job editor
      let editor = ace.edit('job');
      editor.session.setValue(this.formData.job);
      editor.session.on('change', () => {
          this.formData.job = editor.getValue();
      });
      editor.setTheme(darkMode ? "ace/theme/github_dark" : "ace/theme/github");
      editor.session.setMode("ace/mode/terraform");
      editor.setOptions({
        printMargin: false,
        newLineMode: 'unix',
        tabSize: 2,
        wrap: false,
        vScrollBarAlwaysVisible: true,
        customScrollbar: true,
      });

      // Create the volume editor
      let editorVol = ace.edit('vol');
      editorVol.session.setValue(this.formData.volumes);
      editorVol.session.on('change', () => {
          this.formData.volumes = editorVol.getValue();
      });
      editorVol.setTheme(darkMode ? "ace/theme/github_dark" : "ace/theme/github");
      editorVol.session.setMode("ace/mode/yaml");
      editorVol.setOptions({
        printMargin: false,
        newLineMode: 'unix',
        tabSize: 2,
        wrap: false,
        vScrollBarAlwaysVisible: true,
        customScrollbar: true,
        useWorker: false,
      });

      // Listen for the theme_change event on the body & change the editor theme
      window.addEventListener('theme-change', function (e) {
        if (e.detail.dark_theme) {
          editor.setTheme("ace/theme/github_dark");
          editorVol.setTheme("ace/theme/github_dark");
        } else {
          editor.setTheme("ace/theme/github");
          editorVol.setTheme("ace/theme/github");
        }
      });

      this.loading = false;
    },
    checkName() {
      return this.nameValid = validate.maxLength(this.formData.name, 64) && validate.required(this.formData.name);
    },
    checkJob() {
      return this.jobValid = validate.required(this.formData.job);
    },

    async submitData() {
      var err = false;
      err = !this.checkName() || err;
      err = !this.checkJob() || err;
      if(err) {
        return;
      }

      this.buttonLabel = isEdit ? 'Updating template...' : 'Create template...'
      this.loading = true;

      fetch(isEdit ? '/api/v1/templates/{{ .templateId }}' : '/api/v1/templates', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(this.formData)
        })
        .then((response) => {
          if (response.status === 200) {
            window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Template updated", type: 'success' } }));
          } else if (response.status === 201) {
            window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Template created", type: 'success' } }));
            response.json().then(function(data) {
              window.location.href = '/templates/edit/' + data.template_id;
            });
          } else {
            response.json().then((data) => {
              window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: "Failed to update the template, " + data.error, type: 'error' } }));
            });
          }
        })
        .catch((error) => {
          window.dispatchEvent(new CustomEvent('show-alert', { detail: { msg: 'Ooops Error!<br />' + error.message, type: 'error' } }));
        })
        .finally(() => {
          this.buttonLabel = isEdit ? 'Update Template' : 'Create Template';
          this.loading = false;
        })
    },
  }
}

</script>

{{ template "afterContent" }}
