<!DOCTYPE html>
<html lang="en">
<head>
	<title>Terminal</title>
	<link rel="stylesheet" href="/assets/css/terminal.css" />
</head>
<body>
	<div id="terminal"></div>
	<script src="/assets/js/terminal.js" ></script>
  <script>
    initializeTerminal({
      shell: "{{ .shell }}",
      renderer: "{{ .renderer }}",
      spaceId: "{{ .spaceId }}",
      logView: false,
    });
  </script>
</body>
</html>