<!DOCTYPE html>
<html lang="en">
<head>
	<title>Terminal</title>
	<link rel="stylesheet" href="/assets/css/knot.css?_v={{ .version }}" />
</head>
<body>
	<div id="terminal"></div>
	<script src="/assets/js/knot.js?_v={{ .version }}" ></script>
  <script>
    initializeTerminal({
      shell: "{{ .shell }}",
      renderer: "{{ .renderer }}",
      spaceId: "{{ .spaceId }}",
      logView: false,
    });
  </script>
</body>
</html>