{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}
{{ if .isProfile }}
  My Profile
{{ else }}
  {{ if .isEdit }}Edit User{{ else }}Create User{{ end }}
{{ end }}
{{ end }}

{{ define "mainContent" }}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        {{ if .isProfile }}
        <h2>Profile</h2>
        {{ else }}
        <h2>{{ if .isEdit }}Edit User{{ else }}Create User{{ end }}</h2>
        {{ end }}

        <div x-data="userForm({{ .isEdit }}, '{{ .user.id }}', {{ .isProfile }})" x-init="initUsers">
          {{ template "loading" . }}
          <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
            <dl>
              <dt><label for="username">Username <em>*</em></label></dt>
              <dd>
                <input type="text" name="username" x-on:keyup.debounce.500ms="checkUsername()" :class="{'error': !usernameValid}" placeholder="Username (a - Z, 0 - 9 and -)" x-model="formData.username" {{ if .isEdit }}readonly{{ end }}>
                <div x-show="!usernameValid" class="error-message">Username can only contain the letters a - Z, 0 - 9 and -, max 64 characters.</div>
              </dd>
              <dt><label for="email">Email <em>*</em></label></dt>
              <dd>
                <input type="text" name="email" x-on:keyup.debounce.500ms="checkEmail()" :class="{'error': !emailValid}" placeholder="Email address" x-model="formData.email">
                <div x-show="!emailValid" class="error-message">Enter a valid email address.</div>
              </dd>
              <dt><label for="shell">Preferred Shell</label></dt>
              <dd>
                <div class="selectControl">
                  <select id="shell" name="shell" x-model="formData.preferred_shell">
                    <option value="bash">Bash</option>
                    <option value="zsh">Zsh</option>
                    <option value="fish">fish</option>
                    <option value="sh">Bourne</option>
                  </select>
                </div>
                <p class="description">The shell that will be used when you open a web terminal in this space.</p>
                <div x-show="!shellValid" class="error-message">Select a valid shell.</div>
              </dd>
              <dt><label for="tz">Timezone</label></dt>
              <dd>
                <div x-data="autocompleter()" x-init="loadOptions" class="autocomplete" data-parent-variable="timezone" @refresh-autocompleter.window="refresh()">
                    <input x-model="search" type="search" placeholder="Search..." @focus="showList = true" @blur.debounce.200ms="showList = false">
                    <div class="autocomplete-list" x-show="showList">
                      <ul>
                          <template x-for="(option, index) in filteredOptions" :key="index">
                              <li @click="selectOption(option)" x-text="option"></li>
                          </template>
                      </ul>
                    </div>
                </div>
                <div x-show="!tzValid" class="error-message">Enter a valid Timezone.</div>
              </dd>
              <dt><label for="ssh_key">SSH Public Key</label></dt>
              <dd>
                <textarea name="ssh_key" rows="8" placeholder="SSH Public Key" x-model="formData.ssh_public_key"></textarea>
                <p class="description">If given this key will be added to the spaces to allow you to SSH into the space.</p>
              <dt><label for="password">Password {{ if not .isProfile }}<em>*</em>{{ end }}</label></dt>
              <dd>
                <input type="password" name="password" x-on:keyup.debounce.500ms="checkPassword()" :class="{'error': !passwordValid}" placeholder="Password" x-model="formData.password">
                {{ if .isProfile }}
                <p class="description">Leave blank to keep the current password.</p>
                {{ end }}
                <div x-show="!passwordValid" class="error-message">Password must be at least 8 characters.</div>
              </dd>
              <dt><label for="confirm_password">Confirm Password {{ if not .isProfile }}<em>*</em>{{ end }}</label></dt>
              <dd>
                <input type="password" name="confirm_password" x-on:keyup.debounce.500ms="checkConfirmPassword()" :class="{'error': !confirmPasswordValid}" placeholder="Confirm password" x-model="formData.password_confirm">
                <div x-show="!confirmPasswordValid" class="error-message">Both passwords must match.</div>
              </dd>
              {{ if .isProfile }}
              <dt><label for="service_password">Service Password <em>*</em></label></dt>
              <dd>
                <input type="text" name="service_password" x-on:keyup.debounce.500ms="checkServicePassword()" :class="{'error': !servicePasswordValid}" placeholder="Service Password" x-model="formData.service_password">
                <p class="description">A password made available for initializing services such as databases.</p>
                <div x-show="!servicePasswordValid" class="error-message">The service password is required.</div>
              </dd>
              {{ end }}
              {{ if and (not .isProfile) (and .isEdit .permissionManageUsers) (ne .user_id .user.id) }}
              <dt><label for="active">Active</label></dt>
              <dd class="checkbox-group">
                <label class="checkbox">
                  <input type="checkbox" id="active" name="active" x-model="formData.active"> <span x-text="formData.active ? 'Yes' : 'No'"></span>
                </label>
              </dd>
              {{ end }}
              {{ if and (not .isProfile) .permissionManageUsers }}
              <dt><label>Maximum Spaces</label></dt>
              <dd>
                <input type="number" name="max_spaces" x-model="formData.max_spaces" min="0" max="1000">
                <p class="description">The maximum number of spaces this user can create, 0 for unlimited.</p>
                <div x-show="!maxSpacesValid" class="error-message">Enter a valid number between 0 and 1000.</div>
              </dd>
              <dt><label>Maximum Disk Space</label></dt>
              <dd>
                <input type="number" name="max_disk_space" x-model="formData.max_disk_space" min="0" max="1000000">
                <p class="description">The maximum number amount of disk space available to the user in GB, 0 for unlimited.</p>
                <div x-show="!maxSpacesValid" class="error-message">Enter a valid number between 0 and 1000000.</div>
              </dd>
              <dt><label>Roles</label></dt>
              <dd class="checkbox-group">
                <template x-for="(role, index) in roles" :key="index">
                  <label class="checkbox">
                    <input type="checkbox" :id="'role-' + index" name="roles[]" :value="role.id_role" :checked="formData.roles.includes(role.id_role)" @change="toggleRole(role.id_role)">
                    <span x-text="role.role_name"></span>
                  </label>
                </template>
              </dd>
              <dt><label>Groups</label></dt>
              <dd class="checkbox-group">
                <template x-for="(group, index) in groups" :key="index">
                  <label class="checkbox">
                    <input type="checkbox" :id="'group-' + index" name="groups[]" :value="group.group_id" :checked="formData.groups.includes(group.group_id)" @change="toggleGroup(group.group_id)">
                    <span x-text="group.name"></span>
                  </label>
                </template>
              </dd>
              {{ end }}
              <dt></dt>
              <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel"></dd>
            </dl>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{{ end }}
