{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Variable"{{ else }}Create Variable{{ end }}{{ end }}

{{ define "mainContent" }}
<div class="content full-height">
  <div class="row">
    <div class="col-sm-12">
      <div class="box full-height" x-data="variableForm({{ .isEdit }}, '{{ .templateVarId }}')" x-init="initData()">
        <h2>{{ if .isEdit }}Edit Variable{{ else }}Create Variable{{ end }}</h2>

        {{ template "loading" . }}
        <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
          <dl>
            <dt><label for="name">Name <em>*</em></label></dt>
            <dd>
              <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Variable name" x-model="formData.name">
              <div x-show="!nameValid" class="error-message">Variable name can only contain the letters a - Z, 0 - 9 and _, max 64 characters.</div>
            </dd>
            <dt><label for="protected">Protected</label></dt>
            <dd>
              <input type="checkbox" name="protected" x-model="formData.protected">
            </dd>
            <dt><label for="job">Value</label></dt>
            <dd class="grow">
              <div :class="{'error': !valueValid, 'editor-wrap': true}">
                <textarea name="value" id="value"></textarea>
                <div x-show="!valueValid" class="error-message">Value must be less than 10MB.</div>
              </div>
            </dd>
            <dt></dt>
            <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading"></dd>
          </dl>
        </form>

      </div>
    </div>
  </div>
</div>
{{ end }}
