{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Variable{{ else }}Create Variable{{ end }}{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8 bg-gray-50 dark:bg-gray-900">
  <div class="grid grid-cols-1 px-4 pt-6 lg:grid-cols-4 gap-2 xl:gap-4 dark:bg-gray-900" x-data="variableForm({{ .isEdit }}, '{{ .templateVarId }}')" x-init="initData()">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ if .isEdit }}Edit Variable{{ else }}Create Variable{{ end }}</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <form class="space-y-6" action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
        <div>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-field" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'form-field-error': !nameValid}" placeholder="Variable name" x-model="formData.name">
          <div x-show="!nameValid" class="error-message" x-cloak>Variable name can only contain the letters a - Z, 0 - 9 and _, max 64 characters.</div>
        </div>
        {{ if not .isRestricted}}
        <div>
          <label class="inline-flex items-center mb-5 cursor-pointer">
            <input type="checkbox" name="protected" x-model="formData.local" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Local Variable</span>
          </label>
          <div class="description">A local variable will only be available on the server it was created on.</div>
        </div>
        <div x-show="!formData.local">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-field" name="location" x-on:keyup.debounce.500ms="checkLocation()" :class="{'form-field-error': !locationValid}" placeholder="Optional Location Restriction" x-model="formData.location">
          <div x-show="!locationValid" class="error-message">Location is limited to 64 characters.</div>
          <div class="description">Location is an optional field that can be used to restrict the use of this variable to a specific location. If set, the variable will only be available in the specified location.</div>
        </div>
        {{ end }}
        <div class="col-span-1 mb-4 md:mb-0">
          <label class="inline-flex items-center mb-5 cursor-pointer">
            <input type="checkbox" name="protected" x-model="formData.protected" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Protected</span>
          </label>
          <div class="description">Protected variables are encrypted and cannot be viewed once saved.</div>
        </div>
        <div>
          <label for="job" class="form-label">Value</label></dt>
          <div :class="{'form-field-error': !valueValid, 'editor-wrap': true}">
            <textarea name="value" id="value"></textarea>
          </div>
          <div x-show="!valueValid" class="error-message" x-cloak>Value must be less than 10MB.</div>
        </div>

        <button type="submit" class="btn-primary mr-2" :value="buttonLabel" x-text="buttonLabel" :disabled="loading" x-on:click="stayOnPage=true"></button>
        <button type="submit" class="btn-primary" x-show="isEdit" x-on:click="stayOnPage=false">Save</button>

      </form>

    </div>
  </div>
</main>
{{ end }}
