{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8">
  <div class="grid grid-cols-1 px-4 pt-6 lg:grid-cols-4 gap-2 xl:gap-4" x-data="volumeForm({{ .isEdit }}, '{{ .volumeId }}')" x-init="initData()">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-xs col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <form class="space-y-6" action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
        <div>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-field" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'form-field-error': !nameValid}" placeholder="Volume name" x-model="formData.name">
          <div x-show="!nameValid" class="error-message" x-cloak>Volume name can be a max 64 characters.</div>
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Platform</label>
          <div class="flex items-center space-x-2 p-2 bg-gray-100 dark:bg-gray-700 rounded-lg w-fit">
            <template x-for="platform in ['Docker', 'Nomad']" :key="platform">
              <label class="relative">
                <input
                  type="radio"
                  name="platform"
                  :value="platform.toLowerCase()"
                  x-model="formData.platform"
                  class="sr-only peer"
                >
                <div class="select-none cursor-pointer px-3 sm:px-4 py-2 rounded-lg text-sm font-medium
                  peer-checked:bg-blue-600 peer-checked:text-white
                  peer-focus:ring-2 peer-focus:ring-blue-300
                  transition-colors duration-200 ease-in-out
                  text-gray-700 dark:text-gray-200 peer-checked:dark:text-white
                  hover:bg-gray-200 hover:text-gray-700 hover:peer-checked:bg-blue-600 hover:peer-checked:text-white hover:dark:bg-gray-600 hover:dark:text-white hover:dark:peer-checked:bg-blue-600">
                <span x-text="platform"></span>
              </div>
              </label>
            </template>
          </div>
        </div>
        <div>
          <label for="vol" class="form-label">Volume Definition (YAML)</label>
          <div :class="{'form-field-error': !volValid, 'editor-wrap': true}">
            <textarea name="vol" id="vol"></textarea>
          </div>
          <div x-show="!volValid" class="error-message" x-cloak>Volume definition must be valid YAML.</div>
        </div>

        <button type="submit" class="btn-primary mr-2" :value="buttonLabel" x-text="buttonLabel" :disabled="loading" x-on:click="stayOnPage=true"></button>
        <button type="submit" class="btn-primary" x-show="isEdit" x-on:click="stayOnPage=false">Save</button>

      </form>

    </div>
  </div>
</main>
{{ end }}
