{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}{{ end }}

{{ define "mainContent" }}
<div class="content full-height">
  <div class="row">
    <div class="col-sm-12">
      <div class="box full-height" x-data="volumeForm({{ .isEdit }}, '{{ .volumeId }}')" x-init="initData()">
        <h2>{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}</h2>

        {{ template "loading" . }}
        <form action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
          <dl>
            <dt><label for="name">Name <em>*</em></label></dt>
            <dd>
              <input type="text" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'error': !nameValid}" placeholder="Volume name" x-model="formData.name">
              <div x-show="!nameValid" class="error-message">Volume name can be a max 64 characters.</div>
            </dd>
            <dt><label for="vol">Volume Definition (YAML) <em>*</em></label></dt>
            <dd class="grow">
              <div :class="{'error': !volValid, 'editor-wrap': true}">
                <textarea name="vol" id="vol"></textarea>
                <div x-show="!volValid" class="error-message">Volume definition must be valid YAML.</div>
              </div>
            </dd>
            <dd class="text-right"><input type="submit" :value="buttonLabel" x-text="buttonLabel" :disabled="loading" x-on:click="stayOnPage=true"> <input type="submit" value="Save" x-show="isEdit" x-on:click="stayOnPage=false"></dd>
          </dl>
        </form>

      </div>
    </div>
  </div>
</div>
{{ end }}
