{{ template "layout-base.tmpl" . }}

{{ define "pageTitle" }}{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}{{ end }}

{{ define "mainContent" }}
<main class="relative w-full h-full overflow-y-auto lg:ml-64 pb-8 bg-gray-50 dark:bg-gray-900">
  <div class="grid grid-cols-1 px-4 pt-6 lg:grid-cols-4 gap-2 xl:gap-4 dark:bg-gray-900" x-data="volumeForm({{ .isEdit }}, '{{ .volumeId }}')" x-init="initData()">

    <div class="mb-4 col-span-full xl:mb-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ if .isEdit }}Edit Volume{{ else }}Create Volume{{ end }}</h1>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm col-span-full dark:border-gray-700 sm:p-6 dark:bg-gray-800">

      {{ template "loading" . }}
      <form class="space-y-6" action="" method="POST" @submit.prevent="submitData" x-show="!loading" x-cloak>
        <div>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-field" name="name" x-on:keyup.debounce.500ms="checkName()" :class="{'form-field-error': !nameValid}" placeholder="Volume name" x-model="formData.name">
          <div x-show="!nameValid" class="error-message" x-cloak>Volume name can be a max 64 characters.</div>
        </div>
        <div>
          <label for="vol" class="form-label">Volume Definition (YAML)</label>
          <div :class="{'form-field-error': !volValid, 'editor-wrap': true}">
            <textarea name="vol" id="vol"></textarea>
          </div>
          <div x-show="!volValid" class="error-message" x-cloak>Volume definition must be valid YAML.</div>
        </div>

        <button type="submit" class="btn-primary" :value="buttonLabel" x-text="buttonLabel" :disabled="loading" x-on:click="stayOnPage=true"></button>
        <button type="submit" class="btn-primary" x-show="isEdit" x-on:click="stayOnPage=false">Save</button>

      </form>

    </div>
  </div>
</main>
{{ end }}
