@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../less/fonts/jetbrainsmono.woff2) format('woff2');
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
  width: 0;
}

html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: #000;
}

div#terminal {
  top: 8px;
  bottom: 28px;
  left: 8px;
  right: 8px;
  position: absolute;
}

div#terminal.terminal-with-keyboard {
  bottom: 60px;
}

.xterm-viewport,
.xterm-screen {
  height: 100%;
  margin: 0;
  padding: 0;
}
